In [42]:
import pandas as pd
from pathlib import Path
import sqlalchemy as sa
import pymysql

In [47]:
url = "mysql+pymysql://education_2022:education_2022@10.110.43.45:3306/education_2022?charset=utf8"

engine = sa.create_engine(url)
con = engine.connect()

df_m = pd.read_sql("select * from kenshu_read.de_kenshu00", engine)

In [55]:
df=df_m.fillna(0).copy()

In [56]:
df["INSP_All"] = df["INSP_1"]+df["INSP_2"]+df["INSP_3"]+df["INSP_4"]+df["INSP_5"]
df

,LOT_NO,PRODUCT_NO,INSP_DATE,OPERATOR,KAKOU,INSP_count,INSP_1,INSP_2,INSP_3,INSP_4,INSP_5,INSP_All
0,000001,33,2017-04-03,佐藤,XXX,389,0.0,1.0,0.0,1.0,1.0,3.0
1,000002,19,2020-04-03,佐藤,YYY,1,0.0,0.0,0.0,0.0,0.0,0.0
2,000003,18,2020-12-03,佐藤,ZZZ,25,0.0,2.0,0.0,0.0,1.0,3.0
3,000004,19,2021-01-05,佐藤,WWW,1,1.0,3.0,0.0,1.0,0.0,5.0
4,000005,42,2021-02-01,佐藤,ZZZ,70,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,009996,19,2019-06-25,藤田,ZZZ,885,0.0,0.0,1.0,0.0,0.0,1.0
9996,009997,42,2019-06-25,山田,ZZZ,170,0.0,0.0,0.0,0.0,0.0,0.0
9997,009998,42,2019-06-25,山田,ZZZ,170,0.0,0.0,0.0,0.0,0.0,0.0
9998,009999,42,2019-06-25,山田,ZZZ,65,0.0,0.0,0.0,0.0,0.0,0.0
9999,010000,42,2019-06-25,山田,ZZZ,90,0.0,0.0,0.0,0.0,0.0,0.0

In [59]:
df["良品数"] = df["INSP_count"]-df["INSP_All"]
df

,LOT_NO,PRODUCT_NO,INSP_DATE,OPERATOR,KAKOU,INSP_count,INSP_1,INSP_2,INSP_3,INSP_4,INSP_5,INSP_All,良品数
0,000001,33,2017-04-03,佐藤,XXX,389,0.0,1.0,0.0,1.0,1.0,3.0,386.0
1,000002,19,2020-04-03,佐藤,YYY,1,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,000003,18,2020-12-03,佐藤,ZZZ,25,0.0,2.0,0.0,0.0,1.0,3.0,22.0
3,000004,19,2021-01-05,佐藤,WWW,1,1.0,3.0,0.0,1.0,0.0,5.0,-4.0
4,000005,42,2021-02-01,佐藤,ZZZ,70,0.0,0.0,1.0,0.0,0.0,1.0,69.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,009996,19,2019-06-25,藤田,ZZZ,885,0.0,0.0,1.0,0.0,0.0,1.0,884.0
9996,009997,42,2019-06-25,山田,ZZZ,170,0.0,0.0,0.0,0.0,0.0,0.0,170.0
9997,009998,42,2019-06-25,山田,ZZZ,170,0.0,0.0,0.0,0.0,0.0,0.0,170.0
9998,009999,42,2019-06-25,山田,ZZZ,65,0.0,0.0,0.0,0.0,0.0,0.0,65.0
9999,010000,42,2019-06-25,山田,ZZZ,90,0.0,0.0,0.0,0.0,0.0,0.0,90.0

In [63]:
df = df[['LOT_NO', 'PRODUCT_NO', 'INSP_DATE', 'OPERATOR', 'KAKOU', 'INSP_count', '良品数','INSP_All',
       'INSP_1', 'INSP_2', 'INSP_3', 'INSP_4', 'INSP_5']]
df

,LOT_NO,PRODUCT_NO,INSP_DATE,OPERATOR,KAKOU,INSP_count,良品数,INSP_All,INSP_1,INSP_2,INSP_3,INSP_4,INSP_5
0,000001,33,2017-04-03,佐藤,XXX,389,386.0,3.0,0.0,1.0,0.0,1.0,1.0
1,000002,19,2020-04-03,佐藤,YYY,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000003,18,2020-12-03,佐藤,ZZZ,25,22.0,3.0,0.0,2.0,0.0,0.0,1.0
3,000004,19,2021-01-05,佐藤,WWW,1,-4.0,5.0,1.0,3.0,0.0,1.0,0.0
4,000005,42,2021-02-01,佐藤,ZZZ,70,69.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,009996,19,2019-06-25,藤田,ZZZ,885,884.0,1.0,0.0,0.0,1.0,0.0,0.0
9996,009997,42,2019-06-25,山田,ZZZ,170,170.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,009998,42,2019-06-25,山田,ZZZ,170,170.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,009999,42,2019-06-25,山田,ZZZ,65,65.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,010000,42,2019-06-25,山田,ZZZ,90,90.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
df.to_csv("./test01.csv",encoding="cp932")

In [66]:
x=%pwd
print(x)

C:\Users\00220401626\AppData\Local\Programs\Python\Python39\Scripts\(1)Pythonマニュアル_v15

In [70]:
df.to_excel("./test01.xlsx",encoding="cp932")

In [77]:
import pymsteams

teams_url="https://kyoceragp.webhook.office.com/webhookb2/7821933b-f37d-42de-aba9-f7a572fdb9da@82cc187e-25d5-45e4-8c34-8434bf6075fe/IncomingWebhook/248455c561ec40469e5954b51c98756f/27d721c9-e922-4220-9849-37959558bf8b"
myTeamsMessage = pymsteams.connectorcard(teams_url)
myTeamsMessage.title("おはようございます")
myTeamsMessage.text("MURODILJON")
myTeamsMessage.send()

True