In [1]:
# データ加工
import numpy as np
import pandas as pd

# 可視化
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import matplotlib.cm as cm
from matplotlib import rcParams 
plt.rcParams["font.family"] = "MS Gothic"
from matplotlib import colors
import matplotlib.dates as mdates
import seaborn as sns

# その他
import datetime
import openpyxl
import warnings
import os
import glob
import fitz

# time_data加工

In [2]:
pd.set_option('display.max_rows', 10)#作成したデータフレーム結果をすべて表示する#以降すべてに反映されるので注意！
pd.set_option('display.max_columns', None)#作成したデータフレーム結果をすべて表示する#以降すべてに反映されるので注意！

#time_data加工
path1 = r'C:\Users\00220402484\PF\medical\グライディングセンタ\time_data\*.csv'
files1 = glob.glob(path1)
df_list = [ pd.read_csv(file,encoding="cp932") for file in files1]
td = pd.concat(df_list, axis = 0, ignore_index=True)

# 時間をdatatime型に変換
td["開始時間"] = pd.to_datetime(td["開始時間"])
# td["終了時間"] = pd.to_datetime(td["終了時間"])

td_0 = td.loc[(td["FLAG"] == 0)]
td_0

           LotNo  FLAG                開始時間                 終了時間
3    2216584-000     0 2022-11-08 15:13:00  2022-11-08 15:20:00
4    2216584-000     0 2022-11-08 15:27:00  2022-11-08 15:35:00
5    2216584-000     0 2022-11-08 15:44:00  2022-11-08 15:52:00
6    2216584-000     0 2022-11-08 15:58:00  2022-11-08 16:06:00
7    2216584-000     0 2022-11-08 16:13:00  2022-11-08 16:20:00
..           ...   ...                 ...                  ...
575  2217682-000     0 2022-11-29 17:06:00  2022-11-29 17:16:00
576  2217682-000     0 2022-11-29 17:23:00  2022-11-29 17:33:00
577  2217682-000     0 2022-11-29 17:40:00  2022-11-29 17:50:00
578  2217682-000     0 2022-11-29 17:58:00  2022-11-29 18:09:00
579  2217682-000     0 2022-11-29 18:15:00  2022-11-29 18:26:00

[374 rows x 4 columns]

# ドレッシング記録加工

In [3]:
path2 = r'C:\Users\00220402484\PF\medical\グライディングセンタ\ドレッシング記録.xlsx'
dre = pd.read_excel(path2,header = 1)
dre2 = dre.filter(items=["s1_作業指図書no","s1_品名","s1_サイズ","s1_オフセット1","s1_オフセット2","s1_ドレスサイクルs","s1_ドレスサイクルe","s1_開始dt","s1_終了dt","s1_開始日付手入力",
                         "s1_終了日付手入力","s1_開始時間手入力","s1_終了時間手入力"])

dre2

,s1_作業指図書no,s1_品名,s1_サイズ,s1_オフセット1,s1_オフセット2,s1_ドレスサイクルs,s1_ドレスサイクルe,s1_開始dt,s1_終了dt,s1_開始日付手入力,s1_終了日付手入力,s1_開始時間手入力,s1_終了時間手入力
0,2209316-000,12/14AZUL,32,+,0.0,74,90,2022-08-19 16:47:46,2022-08-19 16:42:26,2022-08-19 00:00:00,2022-08-19 00:00:00,« NULL »,« NULL »
1,2209324-000,12/14AZUL,32,+,0.0,1,17,2022-08-19 16:51:17,2022-08-19 16:51:18,2022-08-19 00:00:00,2022-08-19 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00
2,2209324-000,12/14AZUL,32,+,0.0,18,37,2022-08-19 16:52:25,2022-08-19 21:35:16,« NULL »,« NULL »,« NULL »,« NULL »
3,2209324-000,12/14AZUL,32,+,0.0,38,56,2022-08-19 21:36:10,2022-08-22 14:19:35,« NULL »,« NULL »,« NULL »,« NULL »
4,2209324-000,12/14AZUL,32,+,0.0,57,70,2022-08-22 14:20:10,2022-08-22 18:04:00,« NULL »,« NULL »,« NULL »,« NULL »
...,...,...,...,...,...,...,...,...,...,...,...,...,...
183,2217912-000,910AZUL,26,+,3.0,9,14,2022-11-30 20:32:57,2022-12-01 10:31:02,« NULL »,« NULL »,« NULL »,« NULL »
184,2217912-000,910AZUL,26,+,3.0,15,30,2022-12-01 10:31:22,2022-12-01 17:16:02,« NULL »,« NULL »,« NULL »,« NULL »
185,2217912-000,910AZUL,26,+,3.0,31,42,2022-12-01 17:16:41,2022-12-05 14:16:18,« NULL »,2022-12-02 00:00:00,« NULL »,1970-01-01 16:00:00
186,2217912-000,910AZUL,26,+,3.0,43,58,2022-12-05 14:17:22,2022-12-05 14:43:20,2022-12-05 00:00:00,« NULL »,1970-01-01 07:00:00,« NULL »
187,2217912-000,910AZUL,26,+,3.0,59,71,2022-12-05 14:43:46,2022-12-06 09:57:03,« NULL »,« NULL »,« NULL »,« NULL »

## 910か1214か

In [4]:
## 910か1214か

#dre910 = dre2.loc[dre2["s1_品名"] == "910AZUL"]
dre1214 = dre2.loc[dre2["s1_品名"] == "12/14AZUL"]
dre1214

,s1_作業指図書no,s1_品名,s1_サイズ,s1_オフセット1,s1_オフセット2,s1_ドレスサイクルs,s1_ドレスサイクルe,s1_開始dt,s1_終了dt,s1_開始日付手入力,s1_終了日付手入力,s1_開始時間手入力,s1_終了時間手入力
0,2209316-000,12/14AZUL,32,+,0.0,74,90,2022-08-19 16:47:46,2022-08-19 16:42:26,2022-08-19 00:00:00,2022-08-19 00:00:00,« NULL »,« NULL »
1,2209324-000,12/14AZUL,32,+,0.0,1,17,2022-08-19 16:51:17,2022-08-19 16:51:18,2022-08-19 00:00:00,2022-08-19 00:00:00,1970-01-01 00:00:00,1970-01-01 00:00:00
2,2209324-000,12/14AZUL,32,+,0.0,18,37,2022-08-19 16:52:25,2022-08-19 21:35:16,« NULL »,« NULL »,« NULL »,« NULL »
3,2209324-000,12/14AZUL,32,+,0.0,38,56,2022-08-19 21:36:10,2022-08-22 14:19:35,« NULL »,« NULL »,« NULL »,« NULL »
4,2209324-000,12/14AZUL,32,+,0.0,57,70,2022-08-22 14:20:10,2022-08-22 18:04:00,« NULL »,« NULL »,« NULL »,« NULL »
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2217034-000,12/14AZUL,32,+,0.0,1,18,2022-11-17 12:20:08,2022-11-17 20:41:23,« NULL »,« NULL »,« NULL »,« NULL »
164,2217034-000,12/14AZUL,32,+,0.0,19,33,2022-11-17 20:41:38,2022-11-18 10:50:23,« NULL »,« NULL »,« NULL »,« NULL »
165,2217034-000,12/14AZUL,32,+,0.0,34,49,2022-11-18 10:50:46,2022-11-18 21:17:44,« NULL »,« NULL »,« NULL »,« NULL »
166,2217034-000,12/14AZUL,32,+,0.0,50,74,2022-11-18 21:18:16,2022-11-21 13:43:41,« NULL »,« NULL »,« NULL »,« NULL »
167,2217034-000,12/14AZUL,32,+,0.0,75,« NULL »,2022-11-21 13:44:02,2022-11-21 20:09:24,« NULL »,« NULL »,« NULL »,« NULL »

## ドレ記録にないLotを削る

In [5]:
AZUL910 = ['2217179-000','2218571-000','2217682-000']
AZUL1214 = ['2216584-000','2217395-000','2215700-000','2216857-000','2217343-000','2217034-000']

In [6]:
# ## 910 ver
# dre910 = dre910[dre910['s1_作業指図書no'].isin(AZUL910)]
# dre910

## 1214 ver
dre1214 = dre1214[dre1214['s1_作業指図書no'].isin(AZUL1214)]

dre1214

,s1_作業指図書no,s1_品名,s1_サイズ,s1_オフセット1,s1_オフセット2,s1_ドレスサイクルs,s1_ドレスサイクルe,s1_開始dt,s1_終了dt,s1_開始日付手入力,s1_終了日付手入力,s1_開始時間手入力,s1_終了時間手入力
144,2216584-000,12/14AZUL,26,+,0.0,1,12,2022-11-08 14:26:28,2022-11-08 18:16:15,« NULL »,« NULL »,« NULL »,« NULL »
145,2216584-000,12/14AZUL,26,+,0.0,13,20,2022-11-08 18:16:34,2022-11-08 22:35:46,« NULL »,« NULL »,« NULL »,« NULL »
149,2217395-000,12/14AZUL,36,+,0.0,1,3,2022-11-10 08:44:00,2022-11-10 11:02:43,« NULL »,« NULL »,« NULL »,« NULL »
150,2217395-000,12/14AZUL,36,+,0.0,4,24,2022-11-10 11:03:07,2022-11-10 18:02:50,« NULL »,« NULL »,« NULL »,« NULL »
151,2217395-000,12/14AZUL,36,+,0.0,25,40,2022-11-10 18:03:06,2022-11-11 15:12:53,« NULL »,« NULL »,« NULL »,« NULL »
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2217034-000,12/14AZUL,32,+,0.0,1,18,2022-11-17 12:20:08,2022-11-17 20:41:23,« NULL »,« NULL »,« NULL »,« NULL »
164,2217034-000,12/14AZUL,32,+,0.0,19,33,2022-11-17 20:41:38,2022-11-18 10:50:23,« NULL »,« NULL »,« NULL »,« NULL »
165,2217034-000,12/14AZUL,32,+,0.0,34,49,2022-11-18 10:50:46,2022-11-18 21:17:44,« NULL »,« NULL »,« NULL »,« NULL »
166,2217034-000,12/14AZUL,32,+,0.0,50,74,2022-11-18 21:18:16,2022-11-21 13:43:41,« NULL »,« NULL »,« NULL »,« NULL »
167,2217034-000,12/14AZUL,32,+,0.0,75,« NULL »,2022-11-21 13:44:02,2022-11-21 20:09:24,« NULL »,« NULL »,« NULL »,« NULL »

In [7]:
# 時間をdatatime型に変換
dre1214["s1_開始dt"] = pd.to_datetime(dre1214["s1_開始dt"])
dre1214["s1_終了dt"] = pd.to_datetime(dre1214["s1_終了dt"])

dre1214.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21 entries, 144 to 167
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   s1_作業指図書no   21 non-null     object
 1   s1_品名        21 non-null     object
 2   s1_サイズ       21 non-null     int64
 3   s1_オフセット1    21 non-null     object
 4   s1_オフセット2    21 non-null     float64
 5   s1_ドレスサイクルs  21 non-null     int64
 6   s1_ドレスサイクルe  21 non-null     object
 7   s1_開始dt      21 non-null     datetime64[ns]
 8   s1_終了dt      21 non-null     datetime64[ns]
 9   s1_開始日付手入力   21 non-null     object
 10  s1_終了日付手入力   21 non-null     object
 11  s1_開始時間手入力   21 non-null     object
 12  s1_終了時間手入力   21 non-null     object
dtypes: datetime64[ns](2), float64(1), int64(2), object(8)
memory usage: 2.3+ KB

C:\Users\00220402484\AppData\Local\Temp\ipykernel_6296\3261571734.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dre1214["s1_開始dt"] = pd.to_datetime(dre1214["s1_開始dt"])
C:\Users\00220402484\AppData\Local\Temp\ipykernel_6296\3261571734.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dre1214["s1_終了dt"] = pd.to_datetime(dre1214["s1_終了dt"])

In [29]:
## 2217034 だけ
## ドレッシング記録
dre17034 = dre1214.loc[dre1214['s1_作業指図書no']=='2217034-000'].reset_index(drop=True)
dre17034

,s1_作業指図書no,s1_品名,s1_サイズ,s1_オフセット1,s1_オフセット2,s1_ドレスサイクルs,s1_ドレスサイクルe,s1_開始dt,s1_終了dt,s1_開始日付手入力,s1_終了日付手入力,s1_開始時間手入力,s1_終了時間手入力
0,2217034-000,12/14AZUL,32,+,0.0,1,18,2022-11-17 12:20:08,2022-11-17 20:41:23,« NULL »,« NULL »,« NULL »,« NULL »
1,2217034-000,12/14AZUL,32,+,0.0,19,33,2022-11-17 20:41:38,2022-11-18 10:50:23,« NULL »,« NULL »,« NULL »,« NULL »
2,2217034-000,12/14AZUL,32,+,0.0,34,49,2022-11-18 10:50:46,2022-11-18 21:17:44,« NULL »,« NULL »,« NULL »,« NULL »
3,2217034-000,12/14AZUL,32,+,0.0,50,74,2022-11-18 21:18:16,2022-11-21 13:43:41,« NULL »,« NULL »,« NULL »,« NULL »
4,2217034-000,12/14AZUL,32,+,0.0,75,« NULL »,2022-11-21 13:44:02,2022-11-21 20:09:24,« NULL »,« NULL »,« NULL »,« NULL »

In [30]:
## timedata
td17034 = td_0.loc[td_0['LotNo']=='2217034-000'] .reset_index(drop=True)
td17034

          LotNo  FLAG                開始時間                 終了時間
0   2217034-000     0 2022-11-17 13:20:00  2022-11-17 13:28:00
1   2217034-000     0 2022-11-17 13:44:00  2022-11-17 13:52:00
2   2217034-000     0 2022-11-17 14:00:00  2022-11-17 14:07:00
3   2217034-000     0 2022-11-17 14:22:00  2022-11-17 14:30:00
4   2217034-000     0 2022-11-17 15:42:00  2022-11-17 15:49:00
..          ...   ...                 ...                  ...
60  2217034-000     0 2022-11-21 17:25:00  2022-11-21 17:32:00
61  2217034-000     0 2022-11-21 17:45:00  2022-11-21 17:53:00
62  2217034-000     0 2022-11-21 18:07:00  2022-11-21 18:15:00
63  2217034-000     0 2022-11-21 18:27:00  2022-11-21 18:35:00
64  2217034-000     0 2022-11-21 18:44:00  2022-11-21 18:51:00

[65 rows x 4 columns]

In [46]:
pd.set_option('display.max_rows', None)#作成したデータフレーム結果をすべて表示する#以降すべてに反映されるので注意！
pd.set_option('display.max_columns', None)#作成したデータフレーム結果をすべて表示する#以降すべてに反映されるので注意！

namb = dre17034["s1_ドレスサイクルs"].tolist()


for a,b,c in zip (dre17034['s1_開始dt'],dre17034['s1_終了dt'],namb):
    i=0
    for d in td17034['開始時間']:
        if  (a + (datetime.timedelta(minutes= -10))<d) & (d < (b + datetime.timedelta(minutes= 10 ))):
            td17034.loc[td17034['開始時間'] ==d,"No"] = c + i
            i+=1

td17034

          LotNo  FLAG                開始時間                 終了時間    No
0   2217034-000     0 2022-11-17 13:20:00  2022-11-17 13:28:00   1.0
1   2217034-000     0 2022-11-17 13:44:00  2022-11-17 13:52:00   2.0
2   2217034-000     0 2022-11-17 14:00:00  2022-11-17 14:07:00   3.0
3   2217034-000     0 2022-11-17 14:22:00  2022-11-17 14:30:00   4.0
4   2217034-000     0 2022-11-17 15:42:00  2022-11-17 15:49:00   5.0
5   2217034-000     0 2022-11-17 15:56:00  2022-11-17 16:04:00   6.0
6   2217034-000     0 2022-11-17 16:11:00  2022-11-17 16:18:00   7.0
7   2217034-000     0 2022-11-17 16:24:00  2022-11-17 16:32:00   8.0
8   2217034-000     0 2022-11-17 16:40:00  2022-11-17 16:47:00   9.0
9   2217034-000     0 2022-11-17 16:54:00  2022-11-17 17:02:00  10.0
10  2217034-000     0 2022-11-17 17:09:00  2022-11-17 17:16:00  11.0
11  2217034-000     0 2022-11-17 17:27:00  2022-11-17 17:35:00  12.0
12  2217034-000     0 2022-11-17 17:41:00  2022-11-17 17:49:00  13.0
13  2217034-000     0 2022-11-17 17:55:00  2022-11-17 18:03:00  14.0
14  2217034-000     0 2022-11-17 18:10:00  2022-11-17 18:17:00  15.0
15  2217034-000     0 2022-11-17 18:27:00  2022-11-17 18:35:00  16.0
16  2217034-000     0 2022-11-17 18:43:00  2022-11-17 18:50:00  17.0
17  2217034-000     0 2022-11-17 18:57:00  2022-11-17 19:05:00  18.0
18  2217034-000     0 2022-11-17 21:22:00  2022-11-17 21:30:00  19.0
19  2217034-000     0 2022-11-17 21:38:00  2022-11-17 21:46:00  20.0
20  2217034-000     0 2022-11-17 21:52:00  2022-11-17 22:00:00  21.0
21  2217034-000     0 2022-11-17 22:11:00  2022-11-17 22:19:00  22.0
22  2217034-000     0 2022-11-18 07:31:00  2022-11-18 07:38:00  23.0
23  2217034-000     0 2022-11-18 07:49:00  2022-11-18 07:57:00  24.0
24  2217034-000     0 2022-11-18 08:04:00  2022-11-18 08:12:00  25.0
25  2217034-000     0 2022-11-18 08:19:00  2022-11-18 08:27:00  26.0
26  2217034-000     0 2022-11-18 08:39:00  2022-11-18 08:47:00  27.0
27  2217034-000     0 2022-11-18 08:54:00  2022-11-18 09:02:00  28.0
28  2217034-000     0 2022-11-18 09:14:00  2022-11-18 09:22:00  29.0
29  2217034-000     0 2022-11-18 09:28:00  2022-11-18 09:36:00  30.0
30  2217034-000     0 2022-11-18 09:47:00  2022-11-18 09:55:00  31.0
31  2217034-000     0 2022-11-18 10:12:00  2022-11-18 10:20:00  32.0
32  2217034-000     0 2022-11-18 10:31:00  2022-11-18 10:38:00  33.0
33  2217034-000     0 2022-11-18 13:23:00  2022-11-18 13:31:00  34.0
34  2217034-000     0 2022-11-18 13:42:00  2022-11-18 13:50:00  35.0
35  2217034-000     0 2022-11-18 13:59:00  2022-11-18 14:06:00  36.0
36  2217034-000     0 2022-11-18 15:45:00  2022-11-18 15:52:00  37.0
37  2217034-000     0 2022-11-18 15:59:00  2022-11-18 16:06:00  38.0
38  2217034-000     0 2022-11-18 16:13:00  2022-11-18 16:21:00  39.0
39  2217034-000     0 2022-11-18 16:30:00  2022-11-18 16:38:00  40.0
40  2217034-000     0 2022-11-18 16:46:00  2022-11-18 16:54:00  41.0
41  2217034-000     0 2022-11-18 17:01:00  2022-11-18 17:09:00  42.0
42  2217034-000     0 2022-11-18 17:16:00  2022-11-18 17:23:00  43.0
43  2217034-000     0 2022-11-18 17:34:00  2022-11-18 17:41:00  44.0
44  2217034-000     0 2022-11-18 17:49:00  2022-11-18 17:56:00  45.0
45  2217034-000     0 2022-11-18 18:03:00  2022-11-18 18:10:00  46.0
46  2217034-000     0 2022-11-18 18:16:00  2022-11-18 18:24:00  47.0
47  2217034-000     0 2022-11-18 18:30:00  2022-11-18 18:38:00  48.0
48  2217034-000     0 2022-11-18 18:45:00  2022-11-18 18:53:00  49.0
49  2217034-000     0 2022-11-21 14:03:00  2022-11-21 14:10:00  75.0
50  2217034-000     0 2022-11-21 14:18:00  2022-11-21 14:26:00  76.0
51  2217034-000     0 2022-11-21 14:34:00  2022-11-21 14:42:00  77.0
52  2217034-000     0 2022-11-21 14:55:00  2022-11-21 15:03:00  78.0
53  2217034-000     0 2022-11-21 15:18:00  2022-11-21 15:26:00  79.0
54  2217034-000     0 2022-11-21 15:34:00  2022-11-21 15:42:00  80.0
55  2217034-000     0 2022-11-21 15:51:00  2022-11-21 15:59:00  81.0
56  2217034-000     0 2022-11-21 16:06:00  2022-11-21 16:14:00  82.0
57  2217034-000     0 2022-11-21 16:35:00  2022-11-21 16:43:00  83.0
58  2217034-000     0 2022-11-21 16:50:00  2022-11-21 16:58:00  84.0
59  2217034-000     0 2022-11-21 17:11:00  2022-11-21 17:18:00  85.0
60  2217034-000     0 2022-11-21 17:25:00  2022-11-21 17:32:00  86.0
61  2217034-000     0 2022-11-21 17:45:00  2022-11-21 17:53:00  87.0
62  2217034-000     0 2022-11-21 18:07:00  2022-11-21 18:15:00  88.0
63  2217034-000     0 2022-11-21 18:27:00  2022-11-21 18:35:00  89.0
64  2217034-000     0 2022-11-21 18:44:00  2022-11-21 18:51:00  90.0

In [27]:
namb

[1, 19, 34, 50, 75]

In [37]:
 td17034.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65 entries, 0 to 64
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   LotNo   65 non-null     object
 1   FLAG    65 non-null     int64
 2   開始時間    65 non-null     datetime64[ns]
 3   終了時間    65 non-null     object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 2.2+ KB