In [148]:
import datetime
import os
import shutil
import glob
import pandas as pd
import numpy as np
import mojimoji

In [149]:
#取得範囲
start_time = "2023-02-07"
end_time = "2023-02-08"
start_time = np.datetime64(str(start_time))
end_time = np.datetime64(str(end_time))
#ファイル抽出が済んでいる場合True
skip_sv = False
#ファイル結合が済んでいる場合True
skip_concat = False

In [150]:
#サーボビューア抽出用
def read_sv(input_dir,output_dir,st_time,ed_time):
    files = glob.glob(input_dir)
    print(str(len(files))+"files")
    print("処理開始")
    for file,i in zip(files,range(len(files))):
        #出力ファイル名:5桁の連番で出力
        out_file = output_dir+str(str(i).zfill(5))+".csv"
        t = os.path.getmtime(file)
        d = datetime.datetime.fromtimestamp(t)
        if (np.datetime64(d)>=st_time) and (np.datetime64(d)<=ed_time):
            df = pd.read_csv(file,header=[2,3],index_col=0)
            #"file_end_time":ファイルの終了時間
            df.insert(loc = 0, column= "file_end_time", value= str(d))
            #カラム名設定(変更可)
            df.columns = ["file_end_time","Time_msec","X_POS_mm","Z_POS_mm","X_TCMD_%","Z_TCMD_%","B_TCMD_%","C_TCMD_%","S_TCMD_%","S_SPEED_rpm"]
            #"file_start_time":ファイルの開始時間
            df.insert(loc = 0, column= "file_start_time", value= str(d-(pd.to_timedelta(df["Time_msec"].astype(int).max(),"S"))/1000))
            #回転数指定
            df=df[df["S_SPEED_rpm"]>=3490.0]
            df.to_csv(out_file, header=True, index=False, encoding="cp932")
        else:
            continue
    print("出力完了")

In [151]:
#元データディレクトリ
in_dir = "**/**/*.csv"
#出力先(一時保存フォルダ)
ot_dir = "tmp/"
#出力先をリセット
shutil.rmtree(ot_dir)
os.mkdir(ot_dir)
if skip_sv == True:
    print("処理をスキップ")
else:
    read_sv(in_dir,ot_dir,start_time,end_time)

1043files
処理開始
出力完了

In [152]:
#サーボビューア結合用
def concat_sv(input_dir,output_file):
    files = glob.glob(input_dir)
    first = True
    print(str(len(files))+"files")
    print("処理開始")
    for file in files:
        df = pd.read_csv(file,encoding="cp932")
        if first == True:
            df_all = df.copy()
            first = False
        else:
            df_all = pd.concat([df_all,df],axis=0)
    df_all.to_csv(output_file, header=True, index=False, encoding="cp932")

In [153]:
if skip_sv == True:
    print("処理をスキップ")
else:
    concat_sv("tmp/*.csv","all_sv.csv")

286files
処理開始

In [154]:
#まとめたデータを読み込み(上の結合まで済んでいる場合ここから開始)
df_servo = pd.read_csv("all_sv.csv",encoding="cp932")

In [155]:
#DATETIMEを作成
df_servo["DATETIME"] = pd.to_datetime(df_servo["file_start_time"])+pd.to_timedelta(df_servo["Time_msec"]/1000,"S")

In [156]:
#ユニークid付与
count = 0
uid = 0
time_list = df_servo["DATETIME"]
uid_list = []
th_time = np.timedelta64(60, 's')#判定用閾値 60秒離れていたらプログラムが終了していると判定
for i in time_list:
    if count == 0:
        uid_list.append(uid)
        count += 1
        j = i
    else:
        if i > j + th_time:#1個前のデータからth_time以上離れていたらuidをカウントアップ
            uid += 1
            uid_list.append(uid)
            j = i
        else:
            uid_list.append(uid)
            j = i

In [157]:
len(df_servo["DATETIME"])

3990560

In [158]:
len(uid_list)

3990560

In [159]:
df_servo["uid"] = uid_list

In [160]:
df_uid = df_servo.loc[:,["uid","DATETIME"]].drop_duplicates(subset = "uid")

In [161]:
df_std = df_servo.groupby("uid").std()
df_std.reset_index(inplace=True)

In [162]:
df_std["FLAG"] = 0
df_std["FLAG"][df_std["B_TCMD_%"]<=0.2] = 1 #B軸の標準偏差が0.2以下はドレッシング

C:\Users\00170404427\AppData\Local\Temp\ipykernel_2860\4026039121.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_std["FLAG"][df_std["B_TCMD_%"]<=0.2] = 1 #B軸の標準偏差が0.2以下はドレッシング

In [163]:
df_flag = df_uid.merge(df_std.loc[:,["uid","FLAG"]],how="inner",on="uid")

In [164]:
df_flag

    uid                   DATETIME  FLAG
0     0 2023-02-07 06:57:32.000595     0
1     1 2023-02-07 07:28:26.240631     0
2     2 2023-02-07 07:46:12.099145     0
3     3 2023-02-07 10:06:04.308093     1
4     4 2023-02-07 10:24:56.265256     0
5     5 2023-02-07 10:36:36.783643     0
6     6 2023-02-07 10:50:25.319257     0
7     7 2023-02-07 12:15:40.102103     0
8     8 2023-02-07 12:36:14.882917     0
9     9 2023-02-07 12:51:20.519462     0
10   10 2023-02-07 13:11:42.828386     0
11   11 2023-02-07 13:29:09.330238     0
12   12 2023-02-07 13:45:22.246208     0
13   13 2023-02-07 14:02:11.298504     0
14   14 2023-02-07 14:16:24.045111     0
15   15 2023-02-07 14:30:46.438533     0
16   16 2023-02-07 14:46:47.712502     0
17   17 2023-02-07 15:01:49.935266     0
18   18 2023-02-07 15:17:04.141051     0
19   19 2023-02-07 15:32:07.654748     0
20   20 2023-02-07 15:45:51.207363     0
21   21 2023-02-07 16:01:32.313124     0
22   22 2023-02-07 16:17:23.649374     0
23   23 2023-02-07 16:32:36.887697     0
24   24 2023-02-07 16:47:20.497152     0
25   25 2023-02-07 17:02:37.648254     0
26   26 2023-02-07 17:20:12.052635     1
27   27 2023-02-07 17:37:16.027490     0
28   28 2023-02-07 17:48:47.105792     0
29   29 2023-02-07 18:00:21.270652     0
30   30 2023-02-07 18:15:49.439105     0
31   31 2023-02-07 18:30:26.244062     0
32   32 2023-02-07 18:46:14.863874     0
33   33 2023-02-07 20:03:58.149282     0
34   34 2023-02-07 20:18:12.087862     0
35   35 2023-02-07 20:32:14.096413     0
36   36 2023-02-07 20:51:08.686699     0
37   37 2023-02-07 21:06:02.596909     0
38   38 2023-02-07 21:21:32.875660     0
39   39 2023-02-07 21:36:04.870043     0
40   40 2023-02-07 21:50:43.648788     0
41   41 2023-02-07 22:05:12.411055     0
42   42 2023-02-07 22:25:38.322138     0
43   43 2023-02-07 22:40:27.729610     0
44   44 2023-02-07 22:56:03.270974     0
45   45 2023-02-07 23:11:47.611269     0
46   46 2023-02-07 23:27:59.909585     1
47   47 2023-02-07 23:46:28.194121     0

In [165]:
df_dress = pd.read_csv("ドレッシング記録.csv",encoding="cp932")

In [166]:
df_dress.columns

Index(['id', 'report_cd', 'trx_cd', 's1_砥石製造no', 's1_振れ', 's1_使用開始日',
       's1_作業指図書no', 's1_品名', 's1_サイズ', 's1_オフセット1', 's1_オフセット2', 's1_数量',
       's1_ドレスサイクルs', 's1_ドレスサイクルe', 's1_入力801', 's1_入力818', 's1_砥石径',
       's1_砥石長さ', 's1_開始dt', 's1_終了dt', 's1_開始日付手入力', 's1_終了日付手入力',
       's1_開始時間手入力', 's1_終了時間手入力', 'entry_timestamp'],
      dtype='object')

In [167]:
df_dress = df_dress.loc[:,['s1_作業指図書no','s1_数量','s1_ドレスサイクルs', 's1_ドレスサイクルe','s1_開始dt', 's1_終了dt']]

In [168]:
df_dress

,s1_作業指図書no,s1_数量,s1_ドレスサイクルs,s1_ドレスサイクルe,s1_開始dt,s1_終了dt
0,2209316-000,30.0,74.0,90.0,2022/08/19 16:47:46,2022/08/19 16:42:26
1,2209324-000,70.0,1.0,17.0,2022/08/19 16:51:17,2022/08/19 16:51:18
2,2209324-000,70.0,18.0,37.0,2022/08/19 16:52:25,2022/08/19 21:35:16
3,2209324-000,70.0,38.0,56.0,2022/08/19 21:36:10,2022/08/22 14:19:35
4,2209324-000,70.0,57.0,70.0,2022/08/22 14:20:10,2022/08/22 18:04:00
...,...,...,...,...,...,...
225,２３００００2-000,50.0,38.0,50.0,2023/02/07 23:42:54,2023/02/08 10:26:20
226,2300181-000,50.0,1.0,20.0,2023/02/08 10:27:23,2023/02/08 18:35:44
227,2300181-000,50.0,21.0,40.0,2023/02/08 18:36:08,2023/02/09 11:29:16
228,2300181-000,50.0,41.0,50.0,2023/02/09 11:29:59,2023/02/09 16:15:29
229,2222612-000,70.0,1.0,13.0,2023/02/09 16:16:58,2023/02/10 7:35:40

In [169]:
df_dress["s1_作業指図書no"][0]

'2209316-000'

In [170]:
df_dress["s1_開始dt"] = pd.to_datetime(df_dress["s1_開始dt"])
df_dress["s1_終了dt"] = pd.to_datetime(df_dress["s1_終了dt"])

In [171]:
df_flag["lotno"] = "0000000-000"
for k in range(len(df_flag)):
    for i in range(len(df_dress)):
        fdt = np.datetime64(str(df_flag["DATETIME"][k]))
        sdt = np.datetime64(str(df_dress["s1_開始dt"][i]))
        edt = np.datetime64(str(df_dress["s1_終了dt"][i]))
        if (fdt >= sdt ) and (fdt <= edt ) :
            df_flag["lotno"][k] = df_dress["s1_作業指図書no"][i]
        elif (sdt > fdt ):
            break

C:\Users\00170404427\AppData\Local\Temp\ipykernel_2860\144251813.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_flag["lotno"][k] = df_dress["s1_作業指図書no"][i]

In [172]:
df_flag["lotno"] = df_flag["lotno"].apply(lambda x: mojimoji.zen_to_han(x) )

In [173]:
df_flag

    uid                   DATETIME  FLAG        lotno
0     0 2023-02-07 06:57:32.000595     0  2219723-000
1     1 2023-02-07 07:28:26.240631     0  2219723-000
2     2 2023-02-07 07:46:12.099145     0  2219723-000
3     3 2023-02-07 10:06:04.308093     1  0000000-000
4     4 2023-02-07 10:24:56.265256     0  2300002-000
5     5 2023-02-07 10:36:36.783643     0  2300002-000
6     6 2023-02-07 10:50:25.319257     0  2300002-000
7     7 2023-02-07 12:15:40.102103     0  2300002-000
8     8 2023-02-07 12:36:14.882917     0  2300002-000
9     9 2023-02-07 12:51:20.519462     0  2300002-000
10   10 2023-02-07 13:11:42.828386     0  2300002-000
11   11 2023-02-07 13:29:09.330238     0  2300002-000
12   12 2023-02-07 13:45:22.246208     0  2300002-000
13   13 2023-02-07 14:02:11.298504     0  2300002-000
14   14 2023-02-07 14:16:24.045111     0  2300002-000
15   15 2023-02-07 14:30:46.438533     0  2300002-000
16   16 2023-02-07 14:46:47.712502     0  2300002-000
17   17 2023-02-07 15:01:49.935266     0  2300002-000
18   18 2023-02-07 15:17:04.141051     0  2300002-000
19   19 2023-02-07 15:32:07.654748     0  2300002-000
20   20 2023-02-07 15:45:51.207363     0  2300002-000
21   21 2023-02-07 16:01:32.313124     0  2300002-000
22   22 2023-02-07 16:17:23.649374     0  2300002-000
23   23 2023-02-07 16:32:36.887697     0  2300002-000
24   24 2023-02-07 16:47:20.497152     0  2300002-000
25   25 2023-02-07 17:02:37.648254     0  2300002-000
26   26 2023-02-07 17:20:12.052635     1  2300002-000
27   27 2023-02-07 17:37:16.027490     0  2300002-000
28   28 2023-02-07 17:48:47.105792     0  2300002-000
29   29 2023-02-07 18:00:21.270652     0  2300002-000
30   30 2023-02-07 18:15:49.439105     0  2300002-000
31   31 2023-02-07 18:30:26.244062     0  2300002-000
32   32 2023-02-07 18:46:14.863874     0  2300002-000
33   33 2023-02-07 20:03:58.149282     0  2300002-000
34   34 2023-02-07 20:18:12.087862     0  2300002-000
35   35 2023-02-07 20:32:14.096413     0  2300002-000
36   36 2023-02-07 20:51:08.686699     0  2300002-000
37   37 2023-02-07 21:06:02.596909     0  2300002-000
38   38 2023-02-07 21:21:32.875660     0  2300002-000
39   39 2023-02-07 21:36:04.870043     0  2300002-000
40   40 2023-02-07 21:50:43.648788     0  2300002-000
41   41 2023-02-07 22:05:12.411055     0  2300002-000
42   42 2023-02-07 22:25:38.322138     0  2300002-000
43   43 2023-02-07 22:40:27.729610     0  2300002-000
44   44 2023-02-07 22:56:03.270974     0  2300002-000
45   45 2023-02-07 23:11:47.611269     0  2300002-000
46   46 2023-02-07 23:27:59.909585     1  2300002-000
47   47 2023-02-07 23:46:28.194121     0  2300002-000

In [174]:
df_focas = pd.read_csv("1675728784.2723718.tsv",sep="\t")
df_focas['DATETIME'] = pd.to_datetime(df_focas['DATETIME'])

In [175]:
df_flag["DATETIME_S"] = df_flag['DATETIME'].dt.round("s")

In [176]:
df_focas['DATETIME_S'] = df_focas['DATETIME'].dt.round("s")
df_focas.drop_duplicates(subset=["DATETIME_S"],keep='last',inplace=True)

In [177]:
df_focas.pop('DATETIME')

0        2023-02-07 09:13:04.941155
1        2023-02-07 09:13:05.850753
2        2023-02-07 09:13:06.748364
3        2023-02-07 09:13:07.638983
5        2023-02-07 09:13:09.391336
                    ...
309722   2023-02-10 09:23:50.497939
309723   2023-02-10 09:23:51.311768
309724   2023-02-10 09:23:52.143552
309725   2023-02-10 09:23:52.901531
309727   2023-02-10 09:23:54.486309
Name: DATETIME, Length: 259846, dtype: datetime64[ns]

In [178]:
df_focas

,2:var721,2:var722,2:var802,2:var809,2:var818,2:var819,2:x_axis,2:z_axis,2:c_axis,2:sub_prg,2:stat_run,Unnamed: 12,DATETIME_S
0,-7.2256,6.882192,24.350000,39.0,0.210,2.0,-5.0,0.0,0.0,4011,1,NaN,2023-02-07 09:13:05
1,-7.2256,6.882192,24.350000,39.0,0.210,2.0,-5.0,0.0,0.0,4011,1,NaN,2023-02-07 09:13:06
2,-7.2256,6.882192,24.350000,39.0,0.210,2.0,-5.0,0.0,0.0,4011,1,NaN,2023-02-07 09:13:07
3,-7.2256,6.882192,24.350000,39.0,0.210,2.0,-5.0,0.0,0.0,4011,1,NaN,2023-02-07 09:13:08
5,-7.2256,6.882192,24.350000,39.0,0.210,2.0,-5.0,0.0,0.0,4011,1,NaN,2023-02-07 09:13:09
...,...,...,...,...,...,...,...,...,...,...,...,...,...
309722,-5.1098,6.517851,18.799999,20.0,0.185,1.0,-5.0,0.0,0.0,5555,1,NaN,2023-02-10 09:23:50
309723,-5.1098,6.517851,18.799999,20.0,0.185,1.0,-5.0,0.0,0.0,5555,1,NaN,2023-02-10 09:23:51
309724,-5.1098,6.517851,18.799999,20.0,0.185,1.0,-5.0,0.0,0.0,5555,1,NaN,2023-02-10 09:23:52
309725,-5.1098,6.517851,18.799999,20.0,0.185,1.0,-5.0,0.0,0.0,5555,1,NaN,2023-02-10 09:23:53
309727,-5.1098,6.517851,18.799999,20.0,0.185,1.0,-5.0,0.0,0.0,5555,1,NaN,2023-02-10 09:23:54

In [179]:
df_focas.columns

Index(['2:var721', '2:var722', '2:var802', '2:var809', '2:var818', '2:var819',
       '2:x_axis', '2:z_axis', '2:c_axis', '2:sub_prg', '2:stat_run',
       'Unnamed: 12', 'DATETIME_S'],
      dtype='object')

In [180]:
pu_cols = ['DATETIME_S','2:var818','2:x_axis', '2:z_axis', '2:c_axis', '2:sub_prg','2:stat_run']

In [181]:
df_flag = df_flag.merge(df_focas.loc[:,pu_cols],left_on=["DATETIME_S"],right_on=["DATETIME_S"],how="inner")

In [182]:
df_flag.to_csv("lotlist.csv",index=False,encoding="cp932")