In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

df = pd.read_csv('sample.csv'   , encoding='cp932', header=0, parse_dates=True, index_col='column', dtype=object,  sheet_name='sheet_name')
df = pd.read_excel('sample.xlsx', encoding='cp932', header=0, parse_dates=True, index_col='column', dtype=object,  sheet_name='sheet_name')

df.to_csv("file.xlsx",   header = True, index=False, encoding="cp932")
df.to_excel("file.xlsx", header = True, index=False, encoding="cp932")

In [ ]:
path = glob.glob(file_path + "*.csv")
df_list = [pd.read_csv(r"C:\Users\00220401626\Desktop\General.csv", encoding = "cp932", index = False) for file in path]
df = pd.concat(df_list, axis = 0, ignore_index = True)

In [ ]:
files = glob.glob(folder_name +"*.csv")              
dfs = []
for file in files:
    i = pd.read_csv(file, encoding="cp932", index = False)
    dfs.append(i)
df = pd.concat(dfs, axis=0, ignore_index = True)

In [ ]:
td=pd.DataFrame()
for root, dirs, files in os.walk(r"C:\Users\00220401626\Desktop\General.csv"):
    for i in files:
        if i.endswith(".csv"):
        full = os.path.join(root, i)
        d=pd.read_csv(full,encoding="cp932")
        td=pd.concat([td,d], axis=0, ignore_index=True)

In [ ]:
df.T
df.head()
df.tail()
df.info()
df.describe()
df.shape
df.count()
df.dtypes
df.index

In [ ]:
df['column'].min()
df['column'].max()
df['column'].mean()
df['column'].median()
df['column'].sum()
df['column'].count()                                                                          # Count of non-null values
df['column'].diff()                                                                           # Calculate the difference between previous and next 
df['column'].unique()
df['column'].nunique()                                                                        # umber of unique values
df['column'].isna().sum()
df['column'].isnull().sum()
df['column'].notna().sum()
df['column'].notnull().sum()
df['column'].isin(['value1', 'value2'])
df['column'].duplicated().sum()
df['column'].tolist()
a = df['column'].value_counts()['value1']
a = (df['column'] == 'ABS').values.sum()
a = df['column'].str.isspace()
top_values = df['column'].nlargest(10)                                                        # top 10 values from the 'column'
bottom_values = df['column'].nsmallest(10)                                                    # the bottom 10 values from the 'column'
cumulative_sum_A = df['A'].cumsum()                                                           # Calculating the cumulative sum for column 'A'
shifted_values = df['column'].shift(2)                                                        # Shift values in the 'column' by 1 period

In [ ]:
df.set_index('Time', inplace=True) 
df1= df.resample('D').nunique()                                                               # calculate the number of unique values for each day

In [ ]:
df.drop(['A', 'B', 'C'], axis = 1, inplace = True)
df.dropna(subset=['A'], inplace=True)
df.drop_duplicates(subset=['A', 'B'], inplace = True)
df.replace("Null",np.nan)
df.fillna(0, inplace=True)
df["A"].fillna(0, inplace = True)
df['B'].fillna(df['B'].mean(), inplace=True)

In [ ]:
df[0:3]
df[:3]
df[9:14]
df[100:105]
df['2020-08-15':'2020-09-14']

df[df["column"] == 'a']
df[df['column'] == 2015]
df[df['column'].isin([2010])]
df[df['column'].isin(['A','B'])]
df[df['column'].str.contains('a')]
df[df['column'].str.startswith('b')]
df[df['column'].str.endswith('c')]
df[df['Column'] == 'Value'][['Column1', 'Column2']]

df['column'].isin(['10']).sum()
df[df['column1'] <= df['column2'].max()]
df[(df['column_1'] == 2015) & (df['column_2'] == 'A')]
df[(df['column_1'] == 2010) | (df['column_2'] == 2015)]
df[(df["column_1"] == 'a')  | (df["column_2"] == '10') | (df["column_3"] == '15')]

df = df.loc[::step]
df = df.loc[:,['column_1','column_2']]
df = df.loc[(df['column_1'] >= a) & (df['column_2'] <= b)] 
df = df.loc[df['column_1'] > 20, ['column_2', 'column_3']]
df.iloc[row_indices, column_indices]
df = df.iloc[[1, 3], [0, 2]]
df.iloc[:, 2] = 'new_column'                                                          # Rename column


df["column"] = df["column"].astype(str)
df["column"] = df["column"].astype(int)
df["column"] = df["column"].astype(float)

df['column'] = df['column'].apply(lambda x: x*2)

df['column'] = df['column'].str[-15:-4]                                              # belgilangan strni kesib oladi
df['column'] = df['column'].str.strip()                                              # Remove each whitespace from column

df['City'] = df['City'].replace('Paris', 'Margilon')
df = df['ColumnToSplit'].str.split(" ", expand=True)                                 # bitta column ni ikkiga bo'ladi
df["column_3"] = df["column_1"] + "-" + df["column_2"]                               # ikkita column ni bittaga jamlash
df["column_3"] = df["column_1"].astype(str) + "-" + df["column_2"].astype(str)

df['A'] = df['A'].str.strip()                                                        # remove whitespaces

df = df.rename(columns={'a': 'A'})
df.rename(columns={'column_1': '1', 'column_2': '2','column_3':'3'}, inplace=True)   # rename columns
df.insert(loc=0, column="column_name", value = str(100))                             # Convert the value to a string and insert it as the first column

In [ ]:
df['Time'] = pd.to_datetime(df['Time'], format='%Y-%m:%d %H:%M:%S')                              
df['A'] = df['A'].dt.strftime('%Y-%m-%d %H:%M:%S')                                                        # Change datetime to string
df['A'] = pd.to_datetime(df['A'],unit='ms').dt.strftime('%H:%M:%S:%f').str[:-3]
df['A'] = df['A'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))                              # Change string to datetime

df["A"] = pd.to_datetime(df["A"]) + pd.to_timedelta(df["A"]/1000, "S")
a = timedelta(days = 5, hours = 2, minutes = 30)                                                          # Creating Timedelta
a = datetime.datetime(year=2017, month=10, day=10, hour=15)                                               # Cteating datetime

In [53]:
df.sort_values(by='column', ascending=False, inplace=True)                                                # Sort by a single column in descending order
df.sort_values(by='column', ascending=False, na_position='first', inplace=True)                           # Sort the DataFrame by the values of a specific column in descending order
df.sort_values(by=['column_1', 'column_2'], ascending=False, inplace=True)                                # Sort by multiple columns in descending order
df.sort_values(by=['column_1', 'column_2', 'column_3'], ascending=[False, True, False], inplace=True)     # Sort by multiple columns with different sorting orders
df_sorted = df.sort_values(by=['column']).reset_index(drop=True)                                          # Sort the DataFrame by 'column' and reset the index
df.sort_index(ascending=False, inplace=True, na_position='first')                                         # Sort the DataFrame by the index in descending order with na_position specified
df.reset_index(inplace=True)                                                                              #  Reset the index of the DataFrame
filtered_df = df.loc[df['column'] == 100].reset_index(drop=True)                                          #  Filter rows where 'column' equals a specific value and reset the index
df.reindex(columns=['column_1', 'column_2','column_3'], inplace=True)
df.set_index('column')

In [ ]:
df.filter(items=['value_1' , 'value_2'], axis=0))                                                        
df.filter(items=['column_1' , 'column_2'], axis=1))                                                      
df.filter(items=['column_1', 'column_2']).filter(items=['value_1', 'value_2'], axis=0))

In [ ]:
df.groupby['A'].min()
df.groupby['A'].max()
df.groupby('A').mean()
df.groupby('A').max()
df.groupby['A'].median()

df['A'] = df.groupby(['B']).cumcount()+1                                      #Sequence number of each element starting from 1
df['column_3'] = df.groupby(['column_1','column_2']).cumcount()               #Sequence number of each element starting from 0

df[['A','B']].groupby(['C','A']).mean()
df[['A','B']].groupby('C').agg(['mean','sum','count','max','min','std','var'])

In [ ]:
df.resample('H').max()
df.resample('10D').sum()
df.resample("D").mean()
df.resample("M").sum()
df.resample("Q").agg(["sum", "mean", "max", "min"])
df.resample('W').agg(['min', 'max', 'sum'])

In [ ]:
df.pivot(index='...', columns='...', values='...')
pd.pivot_table(df, values='...', index='...', columns='...', aggfunc='...')

In [ ]:
pd.concat([df1, df2], axis=0, join='outer', ignore_index=True)
pd.merge(left_df, right_df, on=...., how=...., left_on=....., right_on=....., left_index=......, right_index=.....)
df = df1.join(df2, on='price', how='inner')

In [ ]:
df.query('year == 2010')
df.query('year > 2010')
df.query('column == A')
df.query('column_1 == 2010 or column_2 == 2015')
df.query('column == "A" and column == 2015')

df = pd.RangeIndex(start=1, stop=len(d.index) + 1, step=1)

In [122]:
formatted_df = df.applymap('{:,.0f}'.format)                # Apply the formatting using applymap, har 3 ta qatorni vergul bilan ajratadi
formatted_df = formatted_df.replace(',', ' ', regex=True)   # Replace commas with spaces

Original DataFrame:
           A           B
0  123456789  3456789012
1  987654321  8765432109

Formatted DataFrame:
             A              B
0  123,456,789  3,456,789,012
1  987,654,321  8,765,432,109

Formatted DataFrame with Commas Replaced by Spaces:
             A              B
0  123 456 789  3 456 789 012
1  987 654 321  8 765 432 109

In [145]:
import pandas as pd
import numpy as np

data = {'numeric_column': [20, 25, 75, 110, 160, 40, 90, 130]}
df = pd.DataFrame(data)

# Define bins and labels
bins = [0, 50, 100, 150, np.inf]
labels = ['0-50', '51-100', '101-150', '150+']

df['binned_column'] = pd.cut(df['numeric_column'], bins=bins, labels=labels)
df

   numeric_column binned_column
0              20          0-50
1              25          0-50
2              75        51-100
3             110       101-150
4             160          150+
5              40          0-50
6              90        51-100
7             130       101-150

In [3]:

data = {'datetime_column': ['2023-01-15 08:30:00', '2023-02-20 15:45:30', '2023-03-25 18:20:45']}
df = pd.DataFrame(data)
df['datetime_column'] = pd.to_datetime(df['datetime_column'])

df['date'] = df['datetime_column'].dt.date
df['time'] = df['datetime_column'].dt.time
df['year'] = df['datetime_column'].dt.year
df['month'] = df['datetime_column'].dt.month
df['day'] = df['datetime_column'].dt.day
df['hour'] = df['datetime_column'].dt.hour
df['minute'] = df['datetime_column'].dt.minute
df['second'] = df['datetime_column'].dt.second
df['weekday_name'] = df['datetime_column'].dt.day_name()

df

,datetime_column,date,time,year,month,day,hour,minute,second,weekday_name
0,2023-01-15 08:30:00,2023-01-15,08:30:00,2023,1,15,8,30,0,Sunday
1,2023-02-20 15:45:30,2023-02-20,15:45:30,2023,2,20,15,45,30,Monday
2,2023-03-25 18:20:45,2023-03-25,18:20:45,2023,3,25,18,20,45,Saturday

In [ ]:
logging.basicConfig(level=logging.DEBUG, format='%(asctime)s - %(levelname)s - %(message)s')

logging.debug('Detailed information, typically of interest only when diagnosing problems')
logging.info('Confirmation that things are working as expected.')
logging.warning('Indication that something unexpected happened or an issue might arise soon The software is still functioning as expected.')
logging.error('Indicates a more serious problem, the software is unable to perform some function.')
logging.critical(' A very serious error, indicating that the program itself may be unable to continue running.')

In [ ]:
str.split('a')
str.replace('this','with this')
str.contains('a')
str.startswith('b','c')
str.endswith('b','c')
str.upper()
str.lower()
-----------------------------------------------------------
str.islower()
str.isupper()
str.capitalize()
str.title()
------------------------------------------------------------
df.iloc[0,0]                # first location
df.iloc[0,0] = '22'

df.loc['c', 'two']         # row c and column two
df.loc['c', 'two'] = 33 

df.loc['a':'c']            # rows a to c
df.loc['b':'d', 'two']     # rows b to d and column two 

df.loc[:, 'C':'E']         # all rows from C to E column

df.loc[df["gender"] == "male","gender"] = 0
df.loc[df["gender"] == "female","gender"] = 1

----------------------------------------------------------
df.drop_duplicates(subset=['A'], keep='last')
df.drop([0,4], inplace=True)

df.dropna()
df.dropna(subset = ['C')]
df.fillna(1)
df.groupby('Group')['ID'].nunique()
pd.unique(df['A']).tolist()
df[df['A'] == 1]['B'].tolist()

-------------------------------------------------------------

df['count_B']=df.groupby(['group1','group2']).B.transform('count')
df.groupby(['A','B']).mean()
df.groupby(['A','B']).agg(['count', 'mean'])
for jinsi, data in df.groupby('Jinsi'):
 data.to_csv("{}.csv".format(jinsi))

------------------------------------------------------------
df[:10] # same as df.head(10)
df[-10:] # same as df.tail(10)

-----------------------------------------------------------
for index, row in df.iterrows()
----------------------------------------------------------
list1 = [1, 2, 3, 4]
list2 = ['a', 'b', 'c', 'd']
list3 = [10, 20, 15, 30]

# Use zip to combine the lists
zipped = zip(list1, list2, list3)
zipped_list = list(zipped)
print(zipped_list)

---------------------------------------------------------
a = [1, 2, 3]
b = [4, 5, 6]

c = [x+y for (x,y) in zip(a,b)]

---------------------------------------------------------

zipped_list = [(1, 'a',1), (2, 'b',3), (3, 'c',4), (4, 'd',5)]

list1, list2, list3 = zip(*zipped_list)

print(list1)
print(list2)
print(list3)
------------------------------------------------------------

del df['C']
df.drop(df.columns[[0, 2]], axis='columns')
df.drop(['B', 'E'], axis='columns', inplace=True)

------------------------------------------------------------
df.rename(columns={'old_name_1': 'new_name_1', 'old_name_2': 'new_name_2'}, inplace=True)
df['C'] = df['A'] + df['B']
------------------------------------------------------------
reorder_column = ['B', 'C', 'A']
df = df[re_column]

------------------------------------------------------------
import platform
print(platform.python_version())

In [7]:
def countdown(n):
    while n > 0:
        yield n
        n -= 1

# Example usage:

for number in countdown(5):
    print(number)

5
4
3
2
1

In [9]:
# List approach
def create_list_data(n):
    data = []
    for i in range(n):
        data.append(i)
    return data

# Generator approach
def generate_data(n):
    for i in range(n):
        yield i

# Example usage
# Creating a list with 10 million elements
large_list = create_list_data(100000000000000000)

# Generating data using a generator with 10 million elements
large_generator = generate_data(100000000000000000)

# Example usage of the list
print("Sum of elements in large_list:", sum(large_list))

# Example usage of the generator
sum_generator = sum(large_generator)
print("Sum of elements generated by large_generator:", sum_generator)