In [1]:
import pandas as pd
import sqlalchemy as sa
import pymysql

In [4]:
url = "mysql+pymysql://education_2023:education_2023@10.110.40.158:3306/education_2023?charset=utf8"
engine = sa.create_engine(url)
con = engine.connect()

df_m = pd.read_sql("select * from kenshu_read.dx_kenshu01", engine)

In [5]:
df_m

       LOTNO  品番         検査日 検査者1  加工元  検査数  不良1  不良2  不良3  不良4  不良5
0     000001  33  2017-04-03   佐藤  XXX  389  NaN  2.0  NaN  1.0  NaN
1     000002  19  2020-04-03   佐藤  YYY    1  NaN  NaN  NaN  NaN  NaN
2     000003  18  2020-12-03   佐藤  ZZZ   25  NaN  NaN  NaN  NaN  NaN
3     000004  19  2021-01-05   佐藤  WWW    1  NaN  NaN  NaN  NaN  NaN
4     000005  42  2021-02-01   佐藤  ZZZ   70  NaN  NaN  NaN  NaN  NaN
...      ...  ..         ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  009996  19  2019-06-25   藤田  ZZZ  885  NaN  NaN  1.0  NaN  NaN
9996  009997  42  2019-06-25   山田  ZZZ  170  NaN  NaN  NaN  NaN  NaN
9997  009998  42  2019-06-25   山田  ZZZ  170  NaN  NaN  NaN  NaN  NaN
9998  009999  42  2019-06-25   山田  ZZZ   65  NaN  NaN  NaN  NaN  NaN
9999  010000  42  2019-06-25   山田  ZZZ   90  NaN  NaN  NaN  NaN  NaN

[10000 rows x 11 columns]

In [4]:
df = df_m.copy()

df = df.fillna(0)
df.insert(6, "不良数", df["不良1"] + df["不良2"] + df["不良3"] + df["不良4"] + df["不良5"])
df.insert(6, "良品数", df["検査数"] - df["不良数"])
df

,LOTNO,品番,検査日,検査者1,加工元,検査数,良品数,不良数,不良1,不良2,不良3,不良4,不良5
0,000001,33,2017-04-03,佐藤,XXX,389,389.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000002,19,2020-04-03,佐藤,YYY,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000003,18,2020-12-03,佐藤,ZZZ,25,25.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000004,19,2021-01-05,佐藤,WWW,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,000005,42,2021-02-01,佐藤,ZZZ,70,70.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,009996,19,2019-06-25,藤田,ZZZ,885,884.0,1.0,0.0,0.0,1.0,0.0,0.0
9996,009997,42,2019-06-25,山田,ZZZ,170,170.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,009998,42,2019-06-25,山田,ZZZ,170,170.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,009999,42,2019-06-25,山田,ZZZ,65,65.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,010000,42,2019-06-25,山田,ZZZ,90,90.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
# 【別解】
df = df_m.copy()
df = df.fillna(0)
df['不良数'] = df["不良1"] + df["不良2"] + df["不良3"] + df["不良4"] + df["不良5"]
df['良品数'] = df["検査数"] - df["不良数"]

df = df[['LOTNO', '品番', '検査日', '検査者1', '加工元', '検査数', '良品数', '不良数', '不良1', '不良2', '不良3', '不良4', '不良5']]
df

,LOTNO,品番,検査日,検査者1,加工元,検査数,良品数,不良数,不良1,不良2,不良3,不良4,不良5
0,000001,33,2017-04-03,佐藤,XXX,389,389.0,0.0,0.0,0.0,0.0,0.0,0.0
1,000002,19,2020-04-03,佐藤,YYY,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000003,18,2020-12-03,佐藤,ZZZ,25,25.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000004,19,2021-01-05,佐藤,WWW,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,000005,42,2021-02-01,佐藤,ZZZ,70,70.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,009996,19,2019-06-25,藤田,ZZZ,885,884.0,1.0,0.0,0.0,1.0,0.0,0.0
9996,009997,42,2019-06-25,山田,ZZZ,170,170.0,0.0,0.0,0.0,0.0,0.0,0.0
9997,009998,42,2019-06-25,山田,ZZZ,170,170.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,009999,42,2019-06-25,山田,ZZZ,65,65.0,0.0,0.0,0.0,0.0,0.0,0.0
9999,010000,42,2019-06-25,山田,ZZZ,90,90.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# 【おまけ】
# 「不良1～5の行だけをfillnaしたい！他のカラムにNullが入ってて、そっちまでゼロに置き換えたら困る！」という人はこれを使ってください

df1 = df_m.copy()
df1.loc[:, "不良1":"不良5"] = df1.loc[:, "不良1":"不良5"].fillna(0)
df1

       LOTNO  品番         検査日 検査者1  加工元  検査数  不良1  不良2  不良3  不良4  不良5
0     000001  33  2017-04-03   佐藤  XXX  389  0.0  0.0  0.0  0.0  0.0
1     000002  19  2020-04-03   佐藤  YYY    1  0.0  0.0  0.0  0.0  0.0
2     000003  18  2020-12-03   佐藤  ZZZ   25  0.0  0.0  0.0  0.0  0.0
3     000004  19  2021-01-05   佐藤  WWW    1  0.0  0.0  0.0  0.0  0.0
4     000005  42  2021-02-01   佐藤  ZZZ   70  0.0  0.0  0.0  0.0  0.0
...      ...  ..         ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  009996  19  2019-06-25   藤田  ZZZ  885  0.0  0.0  1.0  0.0  0.0
9996  009997  42  2019-06-25   山田  ZZZ  170  0.0  0.0  0.0  0.0  0.0
9997  009998  42  2019-06-25   山田  ZZZ  170  0.0  0.0  0.0  0.0  0.0
9998  009999  42  2019-06-25   山田  ZZZ   65  0.0  0.0  0.0  0.0  0.0
9999  010000  42  2019-06-25   山田  ZZZ   90  0.0  0.0  0.0  0.0  0.0

[10000 rows x 11 columns]

In [7]:
# 【おまけ】
# 「不良1～5くらいだったらカラム名書くけど、不良1～100だったらどうするの？全部書くのヤダ」という人はこれを使ってください

df1["不良数"] = df1.loc[:, "不良1":"不良5"].sum(axis=1)
df1

       LOTNO  品番         検査日 検査者1  加工元  検査数  不良1  不良2  不良3  不良4  不良5  不良数
0     000001  33  2017-04-03   佐藤  XXX  389  0.0  0.0  0.0  0.0  0.0  0.0
1     000002  19  2020-04-03   佐藤  YYY    1  0.0  0.0  0.0  0.0  0.0  0.0
2     000003  18  2020-12-03   佐藤  ZZZ   25  0.0  0.0  0.0  0.0  0.0  0.0
3     000004  19  2021-01-05   佐藤  WWW    1  0.0  0.0  0.0  0.0  0.0  0.0
4     000005  42  2021-02-01   佐藤  ZZZ   70  0.0  0.0  0.0  0.0  0.0  0.0
...      ...  ..         ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
9995  009996  19  2019-06-25   藤田  ZZZ  885  0.0  0.0  1.0  0.0  0.0  1.0
9996  009997  42  2019-06-25   山田  ZZZ  170  0.0  0.0  0.0  0.0  0.0  0.0
9997  009998  42  2019-06-25   山田  ZZZ  170  0.0  0.0  0.0  0.0  0.0  0.0
9998  009999  42  2019-06-25   山田  ZZZ   65  0.0  0.0  0.0  0.0  0.0  0.0
9999  010000  42  2019-06-25   山田  ZZZ   90  0.0  0.0  0.0  0.0  0.0  0.0

[10000 rows x 12 columns]

In [8]:
# カラム名を打ち込むのは大変なので、df.columnsでリスト出力して切り貼りする
df.columns

Index(['LOTNO', '品番', '検査日', '検査者1', '加工元', '検査数', '良品数', '不良数', '不良1', '不良2',
       '不良3', '不良4', '不良5'],
      dtype='object')

In [9]:
# con.execute("truncate fuku01")
df.to_sql("fuku01", engine, if_exists="append", index=None)

10000

テーブル定義変更SQL
```mysql
alter table fuku01
modify LOTNO varchar(6), 
modify 品番 varchar(2), 
modify 検査日 date, 
modify 検査者1 varchar(2), 
modify 加工元 varchar(3), 
modify 検査数 int, 
modify 不良数 int, 
modify 良品数 int, 
modify 不良1 int, 
modify 不良2 int, 
modify 不良3 int, 
modify 不良4 int, 
modify 不良5 int,
add primary key (LOTNO)
```

In [11]:
df.to_csv("enshu_01.csv", encoding='cp932', index=False) # インデックスの有無はご自由に
df.to_excel("enshu_01.xlsx")

【参考】  
[pandasでExcelファイル（xlsx, xls）の書き込み（to_excel）](https://note.nkmk.me/python-pandas-to-excel/)