In [1]:
# まずライブラリのインポート（最初に纏めて書く）
import pandas as pd
import sqlalchemy as sa
import pymysql
from pathlib import Path

# 接続先の定義
url = "mysql+pymysql://kenshu:kenshu@10.110.55.59:3306/kenshu?charset=utf8"
engine = sa.create_engine(url)
con = engine.connect()

folder = Path(r"\\10.110.0.44\everyone\05")
files = list(folder.glob("*.csv"))
print(files)

[WindowsPath('//10.110.0.44/everyone/05/SEIHIN_MASTER.csv')]

In [2]:
# 測定値csvファイルをリストに格納
folder_s = folder/"2021年"
files_s = list(folder_s.glob("*.csv"))
files_s

[WindowsPath('//10.110.0.44/everyone/05/2021年/2021_04.csv'),
 WindowsPath('//10.110.0.44/everyone/05/2021年/2021_05.csv'),
 WindowsPath('//10.110.0.44/everyone/05/2021年/2021_06.csv')]

In [3]:
file = files_s[0]

df_m = pd.read_csv(file, encoding="cp932")
df_m

,開始日時,装置,製品名,測定値1,測定値2,測定値3,測定値4,測定値5,測定値6,測定値7,測定値8,測定値9,測定値10
0,2021/4/1 0:00,AA1,5,9,0.781053,0.656179,0.995928,5,0.012501,29,75,593,6
1,2021/4/1 1:00,AA1,7,5,0.709019,0.616721,0.572510,4,0.673194,48,65,70,3
2,2021/4/1 2:00,AA4,2,8,0.516319,0.938714,0.434105,2,0.315187,41,58,450,1
3,2021/4/1 3:00,AA5,3,8,0.761229,0.951437,0.990333,1,0.448620,22,79,449,1
4,2021/4/1 4:00,AA5,8,9,0.337585,0.605640,0.229991,2,0.687414,42,88,849,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,2021/4/30 19:00,AA8,2,5,0.919811,0.537361,0.706198,6,0.101207,37,68,313,8
716,2021/4/30 20:00,AA8,3,8,0.273945,0.808544,0.936513,8,0.710922,48,14,742,8
717,2021/4/30 21:00,AA7,2,8,0.843364,0.208033,0.965015,3,0.452441,34,16,423,6
718,2021/4/30 22:00,AA7,10,4,0.024133,0.433949,0.257621,5,0.579070,33,44,542,3
719,2021/4/30 23:00,AA5,9,3,0.602189,0.962966,0.371438,9,0.925368,11,24,297,7

In [4]:
df_m.columns

Index(['開始日時', '装置', '製品名', '測定値1', '測定値2', '測定値3', '測定値4', '測定値5', '測定値6',
       '測定値7', '測定値8', '測定値9', '測定値10'],
      dtype='object')

In [5]:
df = df_m.copy()
df = pd.melt(df, id_vars=['開始日時', '装置', '製品名'], var_name="測定項目", value_name='測定値')
df

                 開始日時   装置  製品名   測定項目  測定値
0       2021/4/1 0:00  AA1    5   測定値1  9.0
1       2021/4/1 1:00  AA1    7   測定値1  5.0
2       2021/4/1 2:00  AA4    2   測定値1  8.0
3       2021/4/1 3:00  AA5    3   測定値1  8.0
4       2021/4/1 4:00  AA5    8   測定値1  9.0
...               ...  ...  ...    ...  ...
7195  2021/4/30 19:00  AA8    2  測定値10  8.0
7196  2021/4/30 20:00  AA8    3  測定値10  8.0
7197  2021/4/30 21:00  AA7    2  測定値10  6.0
7198  2021/4/30 22:00  AA7   10  測定値10  3.0
7199  2021/4/30 23:00  AA5    9  測定値10  7.0

[7200 rows x 5 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7200 entries, 0 to 7199
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   開始日時    7200 non-null   object
 1   装置      7200 non-null   object
 2   製品名     7200 non-null   int64
 3   測定項目    7200 non-null   object
 4   測定値     7200 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 281.4+ KB

In [7]:
# マスターcsvをDataFrameに格納
file_m = list(folder.glob("SEIHIN_MASTER.csv"))
df_mst = pd.read_csv(file_m[0], encoding="cp932")
df_mst

    SEIHIN    NAME  BANGO
0        1  MOC389    936
1        2  YSV794    974
2        3  HQD681    678
3        4  VUO867    535
4        5  ZFZ560    808
5        6  XOA828    197
6        7  CYZ703     57
7        8  PPV566     23
8        9  CIP156    886
9       10  YSX413    617
10      11  LKV977    715
11      12  XBL326    670
12      13  ZTQ415    435
13      14  BET399    601
14      15  KKY722     98
15      16  PQX149    534
16      17  ZEX317     15
17      18  GCB510    497
18      19  VHS240    465
19      20  WRI734    270
20      21  DJQ377    478
21      22  LTB279    152
22      23  GWZ239    590
23      24  GKH507    694
24      25  GOI553    809

In [8]:
df1 = pd.merge(df, df_mst, left_on="製品名", right_on="SEIHIN", how="left")
df1 = df1.drop(["SEIHIN"], axis=1)
df1

                 開始日時   装置  製品名   測定項目  測定値    NAME  BANGO
0       2021/4/1 0:00  AA1    5   測定値1  9.0  ZFZ560    808
1       2021/4/1 1:00  AA1    7   測定値1  5.0  CYZ703     57
2       2021/4/1 2:00  AA4    2   測定値1  8.0  YSV794    974
3       2021/4/1 3:00  AA5    3   測定値1  8.0  HQD681    678
4       2021/4/1 4:00  AA5    8   測定値1  9.0  PPV566     23
...               ...  ...  ...    ...  ...     ...    ...
7195  2021/4/30 19:00  AA8    2  測定値10  8.0  YSV794    974
7196  2021/4/30 20:00  AA8    3  測定値10  8.0  HQD681    678
7197  2021/4/30 21:00  AA7    2  測定値10  6.0  YSV794    974
7198  2021/4/30 22:00  AA7   10  測定値10  3.0  YSX413    617
7199  2021/4/30 23:00  AA5    9  測定値10  7.0  CIP156    886

[7200 rows x 7 columns]

In [9]:
table = "fuku_kenshu05"
df1.to_sql(table, engine, if_exists="replace", index=None)

```SQL
alter table kenshu.fuku_kenshu05
modify 開始日時 datetime, 
modify 装置 varchar (3), 
modify 製品名 varchar (2), 
modify 測定項目 varchar (5), 
modify 測定値 double, 
modify NAME varchar (6), 
modify BANGO varchar (5), 
add primary key (開始日時, 測定項目)
```

In [10]:
con.execute(f"truncate {table}") # 一度tableの中身を消さないと、primarykeyエラーが出る

In [11]:
"""For文で回す用のコード作成"""

# folderの読み込み
folder = Path(r"\\10.110.0.44\everyone\05")

# 測定値csvファイルをリストに格納
folder_s = folder/"2021年"
files_s = list(folder_s.glob("*.csv"))

# マスターcsvをDataFrameに格納
file_m = list(folder.glob("SEIHIN_MASTER.csv"))
df_mst = pd.read_csv(file_m[0], encoding="cp932")

# files_sの測定値をPythonに読み込み、縦持ちにしてDBにアップ
for file in files_s:
    print(file)
    df = pd.read_csv(file, encoding="cp932")
    df = pd.melt(df, id_vars=['開始日時', '装置', '製品名'], var_name="測定項目", value_name='測定値')
    df1 = pd.merge(df, df_mst, left_on="製品名", right_on="SEIHIN", how="left")
    df1 = df1.drop(["SEIHIN"], axis=1)

    display(df1)
    df1.to_sql(table, engine, if_exists="append", index=None)

\\10.110.0.44\everyone\05\2021年\2021_04.csv

                 開始日時   装置  製品名   測定項目  測定値    NAME  BANGO
0       2021/4/1 0:00  AA1    5   測定値1  9.0  ZFZ560    808
1       2021/4/1 1:00  AA1    7   測定値1  5.0  CYZ703     57
2       2021/4/1 2:00  AA4    2   測定値1  8.0  YSV794    974
3       2021/4/1 3:00  AA5    3   測定値1  8.0  HQD681    678
4       2021/4/1 4:00  AA5    8   測定値1  9.0  PPV566     23
...               ...  ...  ...    ...  ...     ...    ...
7195  2021/4/30 19:00  AA8    2  測定値10  8.0  YSV794    974
7196  2021/4/30 20:00  AA8    3  測定値10  8.0  HQD681    678
7197  2021/4/30 21:00  AA7    2  測定値10  6.0  YSV794    974
7198  2021/4/30 22:00  AA7   10  測定値10  3.0  YSX413    617
7199  2021/4/30 23:00  AA5    9  測定値10  7.0  CIP156    886

[7200 rows x 7 columns]

\\10.110.0.44\everyone\05\2021年\2021_05.csv

                 開始日時   装置  製品名   測定項目   測定値    NAME  BANGO
0       2021/5/1 0:00  AA4   18   測定値1  10.0  GCB510    497
1       2021/5/1 1:00  AA2    1   測定値1   2.0  MOC389    936
2       2021/5/1 2:00  AA2   14   測定値1   9.0  BET399    601
3       2021/5/1 3:00  AA7    7   測定値1   6.0  CYZ703     57
4       2021/5/1 4:00  AA3   12   測定値1   7.0  XBL326    670
...               ...  ...  ...    ...   ...     ...    ...
7435  2021/5/31 19:00  AA2   16  測定値10   5.0  PQX149    534
7436  2021/5/31 20:00  AA5   17  測定値10   2.0  ZEX317     15
7437  2021/5/31 21:00  AA2   12  測定値10   9.0  XBL326    670
7438  2021/5/31 22:00  AA4    2  測定値10   3.0  YSV794    974
7439  2021/5/31 23:00  AA3    7  測定値10   1.0  CYZ703     57

[7440 rows x 7 columns]

\\10.110.0.44\everyone\05\2021年\2021_06.csv

                 開始日時   装置  製品名   測定項目  測定値    NAME  BANGO
0       2021/6/1 0:00  AA6   18   測定値1  1.0  GCB510    497
1       2021/6/1 1:00  AA9    9   測定値1  9.0  CIP156    886
2       2021/6/1 2:00  AA1   24   測定値1  2.0  GKH507    694
3       2021/6/1 3:00  AA3   15   測定値1  6.0  KKY722     98
4       2021/6/1 4:00  AA8   11   測定値1  7.0  LKV977    715
...               ...  ...  ...    ...  ...     ...    ...
7195  2021/6/30 19:00  AA7    7  測定値10  1.0  CYZ703     57
7196  2021/6/30 20:00  AA5   15  測定値10  3.0  KKY722     98
7197  2021/6/30 21:00  AA5   25  測定値10  4.0  GOI553    809
7198  2021/6/30 22:00  AA8   19  測定値10  3.0  VHS240    465
7199  2021/6/30 23:00  AA3   17  測定値10  7.0  ZEX317     15

[7200 rows x 7 columns]