In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as sa
import pymysql

url = "mysql+pymysql://kenshu:kenshu@10.110.55.59:3306/kenshu?charset=utf8"
engine = sa.create_engine(url)
con = engine.connect()

df1_m = pd.read_sql("select * from kenshu_read.dx_mondai01_1", engine)
df2_m = pd.read_sql("select * from kenshu_read.dx_mondai01_2", engine)
df3_m = pd.read_sql("select * from kenshu_read.dx_mondai01_3", engine)

In [3]:
df1 = df1_m.copy()
df2 = df2_m.copy()
df3 = df3_m.copy()

df1["VAR"] = df1["LOTNO"].str[:2]
df4 = pd.merge(df1, df2, on="LOTNO", how="left")
df5 = pd.merge(df4, df3, on="VAR", how="left")
df5 = df5.fillna(0)
df5["RATE"] = df5["NG"] / df5["QTY"]
df5 = df5[["LOTNO", "VAR_NM", "RATE", "QTY", "NG"]]

table = "fuku_mondai01"
# con.execute(f"truncate {table}")
df5.to_sql("fuku_mondai01", engine, if_exists="append", index=None)

17

In [4]:
display(df5)

    LOTNO VAR_NM    RATE  QTY   NG
0   aa001   ボルト1  0.0100  200  2.0
1   aa002   ボルト1  0.0000  200  0.0
2   aa021   ボルト1  0.1000   30  3.0
3   ab001   ボルト2  0.0800   50  4.0
4   ab010   ボルト2  0.0200  100  2.0
5   ab022   ボルト2  0.0200  200  4.0
6   ab024   ボルト2  0.0050  600  3.0
7   ac003   ナット1  0.0500  100  5.0
8   ac005   ナット1  0.0000  100  0.0
9   ac019   ナット1  0.0200  300  6.0
10  ac022   ナット1  0.0100  100  1.0
11  ac023   ナット1  0.0100  100  1.0
12  ad001   ナット2  0.0100  300  3.0
13  ad002   ナット2  0.0100  500  5.0
14  ad003   ナット2  0.0075  400  3.0
15  ad006   ナット2  0.0050  200  1.0
16  ad016   ナット2  0.0050  200  1.0

テーブル定義変更SQL
```sql
alter table fuku_mondai01
modify LOTNO varchar(5),
modify VAR_NM varchar (10), 
modify RATE double, 
modify QTY int, 
modify NG int, 
add primary key (LOTNO)
```